<a href="https://colab.research.google.com/github/tanupat085/3-minutes-python/blob/master/botnoiAi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [6]:
list = [['a','b','c'],['d','e','f'],['h','i','j']]
df = pd.DataFrame(list)
df

   0  1  2
0  a  b  c
1  d  e  f
2  h  i  j

In [10]:
df.columns = ['first','second','third']
df

  first second third
0     a      b     c
1     d      e     f
2     h      i     j

In [11]:
df = pd.DataFrame(list, columns=['first','second','third'])
df

  first second third
0     a      b     c
1     d      e     f
2     h      i     j

In [12]:
dict = {'columns1':['a','b','c'],'columns2':['d','e','f'],'columns':['h','i','j']}
df = pd.DataFrame(dict)
df

  columns1 columns2 columns
0        a        d       h
1        b        e       i
2        c        f       j

excell database

In [13]:
!gdown --id 1YK3-pyXz2NhpE2XFfP6qjdn-Y2tPOy2Z

Downloading...
From: https://drive.google.com/uc?id=1YK3-pyXz2NhpE2XFfP6qjdn-Y2tPOy2Z
To: /content/DigiDB_digimonlist.xlsx
100% 27.2k/27.2k [00:00<00:00, 56.4MB/s]

In [17]:
df = pd.read_excel('DigiDB_digimonlist.xlsx')

In [18]:
df

     Number            Digimon Stage  ... Lv50 Def Lv50 Int  Lv50 Spd
0         1            Kuramon  Baby  ...       69       68        95
1         2            Pabumon  Baby  ...       76       69        68
2         3            Punimon  Baby  ...       87       50        75
3         4            Botamon  Baby  ...       95       76        61
4         5            Poyomon  Baby  ...       59       95        86
..      ...                ...   ...  ...      ...      ...       ...
244     245         Valkyrimon  Mega  ...      129      129       168
245     246    ShineGreymon BM  Mega  ...      104       84       168
246     247  MirageGaogamon BM  Mega  ...      104      158       174
247     248         Ravemon BM  Mega  ...      139      144       213
248     249         Rosemon BM  Mega  ...      139      159       143

[249 rows x 13 columns]

In [20]:
!gdown --id 15fteBoNOEmNfZkPnOwJR5h7TmSQmbnEY

Downloading...
From: https://drive.google.com/uc?id=15fteBoNOEmNfZkPnOwJR5h7TmSQmbnEY
To: /content/DigiDB_digimonlist.csv
100% 15.5k/15.5k [00:00<00:00, 24.8MB/s]

In [21]:
df = pd.read_csv('DigiDB_digimonlist.csv')

In [22]:
df

     Number            Digimon Stage  ... Lv50 Def Lv50 Int  Lv50 Spd
0         1            Kuramon  Baby  ...       69       68        95
1         2            Pabumon  Baby  ...       76       69        68
2         3            Punimon  Baby  ...       87       50        75
3         4            Botamon  Baby  ...       95       76        61
4         5            Poyomon  Baby  ...       59       95        86
..      ...                ...   ...  ...      ...      ...       ...
244     245         Valkyrimon  Mega  ...      129      129       168
245     246    ShineGreymon BM  Mega  ...      104       84       168
246     247  MirageGaogamon BM  Mega  ...      104      158       174
247     248         Ravemon BM  Mega  ...      139      144       213
248     249         Rosemon BM  Mega  ...      139      159       143

[249 rows x 13 columns]

In [24]:
df.head(10)

   Number   Digimon        Stage  Type  ... Lv50 Atk  Lv50 Def  Lv50 Int  Lv50 Spd
0       1   Kuramon         Baby  Free  ...       79        69        68        95
1       2   Pabumon         Baby  Free  ...       76        76        69        68
2       3   Punimon         Baby  Free  ...       97        87        50        75
3       4   Botamon         Baby  Free  ...       77        95        76        61
4       5   Poyomon         Baby  Free  ...       54        59        95        86
5       6   Koromon  In-Training  Free  ...      109        93        52        76
6       7   Tanemon  In-Training  Free  ...       85        82        73        69
7       8  Tsunomon  In-Training  Free  ...      107        92        54        76
8       9  Tsumemon  In-Training  Free  ...      108        64        54        93
9      10   Tokomon  In-Training  Free  ...       76        74        74       103

[10 rows x 13 columns]

In [25]:
df.tail(5)

     Number            Digimon Stage  ... Lv50 Def Lv50 Int  Lv50 Spd
244     245         Valkyrimon  Mega  ...      129      129       168
245     246    ShineGreymon BM  Mega  ...      104       84       168
246     247  MirageGaogamon BM  Mega  ...      104      158       174
247     248         Ravemon BM  Mega  ...      139      144       213
248     249         Rosemon BM  Mega  ...      139      159       143

[5 rows x 13 columns]

In [27]:
df.shape

(249, 13)

In [28]:
df.describe

<bound method NDFrame.describe of      Number            Digimon Stage  ... Lv50 Def Lv50 Int  Lv50 Spd
0         1            Kuramon  Baby  ...       69       68        95
1         2            Pabumon  Baby  ...       76       69        68
2         3            Punimon  Baby  ...       87       50        75
3         4            Botamon  Baby  ...       95       76        61
4         5            Poyomon  Baby  ...       59       95        86
..      ...                ...   ...  ...      ...      ...       ...
244     245         Valkyrimon  Mega  ...      129      129       168
245     246    ShineGreymon BM  Mega  ...      104       84       168
246     247  MirageGaogamon BM  Mega  ...      104      158       174
247     248         Ravemon BM  Mega  ...      139      144       213
248     249         Rosemon BM  Mega  ...      139      159       143

[249 rows x 13 columns]>

In [29]:
df.columns

Index(['Number', 'Digimon', 'Stage', 'Type', 'Attribute', 'Memory',
       'Equip Slots', 'Lv 50 HP', 'Lv50 SP', 'Lv50 Atk', 'Lv50 Def',
       'Lv50 Int', 'Lv50 Spd'],
      dtype='object')

In [34]:
result = pd.read_csv('DigiDB_digimonlist.csv', usecols=['Digimon','Stage','Type','Lv50 Int'])

In [32]:
result

               Digimon Stage     Type  Lv50 Int
0              Kuramon  Baby     Free        68
1              Pabumon  Baby     Free        69
2              Punimon  Baby     Free        50
3              Botamon  Baby     Free        76
4              Poyomon  Baby     Free        95
..                 ...   ...      ...       ...
244         Valkyrimon  Mega     Free       129
245    ShineGreymon BM  Mega  Vaccine        84
246  MirageGaogamon BM  Mega     Data       158
247         Ravemon BM  Mega  Vaccine       144
248         Rosemon BM  Mega     Data       159

[249 rows x 4 columns]

In [36]:
result = df.to_csv('Digimon2.csv',columns=['Digimon','Stage','Type'])

In [37]:
df = pd.read_csv('DigiDB_digimonlist.csv')

In [38]:
df.dtypes

Number           int64
Digimon         object
Stage           object
Type            object
Attribute       object
Memory           int64
Equip Slots      int64
Lv 50 HP       float64
Lv50 SP          int64
Lv50 Atk         int64
Lv50 Def         int64
Lv50 Int         int64
Lv50 Spd         int64
dtype: object