<a href="https://colab.research.google.com/github/tanupat085/3-minutes-python/blob/master/Excercise3_64120015.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 8 Build Circle area and Circle circumference by input r from input 
formular<br>
circle area = Pi\*r\*\*2<br>  
circle circumference = 2\*Pi\*r<br>

In [1]:
import math

In [4]:
r = int(input("r = "))
print("circle area = " , (math.pi)*(r**2) )
print("circle circumference = ", 2 * (math.pi) * r)

r = 12
circle area =  452.3893421169302
circle circumference =  75.39822368615503

# 9 Print odd number from 1 to 100

In [7]:
for i in range(0,101):
  if (i%2) != 0:
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# 10 Print even numbers from 1 to 100 in list format

In [8]:
a=[]
for i in range(0,101):
  if (i%2) == 0:
    a.append(i)
print(a)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

# 11 Please calculate sse from formula From listY = [1.9,4.2,6.5,7.4,11]
![r_squared_6.png](attachment:r_squared_6.png)

In [54]:
y = [1.9,4.2,6.5,7.4,11]
mean = sum(y) / len(y)
for i in y:
  x = i - mean
  x = x**2
  a = a + x
print("SSE : ", a )

SSE :  57.06000000000001

# 12 list1 = [1,1,2,2,3,3,4,4,5,5,6,6] ให้สร้าง list ใหม่ให้ค่าสมาชิกต้องไม่ซ้ำกัน

In [16]:
list1 = [1,1,2,2,3,3,4,4,5,5,6,6]
res = []
for i in list1:
    if i not in res:
        res.append(i)
print(res)

[1, 2, 3, 4, 5, 6]

# 13 Build Dictionary with key is charactor and value is number and print some value in key

In [19]:
dic = {
    "a":1,
    "b":2,
    "c":3
}
for i in dic:
  print(i," : ",dic[i])

a  :  1
b  :  2
c  :  3

# 14 Build Dictionary with key is english word and value is thai word and print out

In [20]:
dic = {
    "cat":"นก",
    "dog":"หมา",
    "bird":"นก"
}
for i in dic:
  print(i," : ",dic[i])

cat  :  นก
dog  :  หมา
bird  :  นก

# 15 Build Contract Name and Number to Dictionary and have add delete lookup quit

In [22]:
dic = {
    "name":"tanupat satitvattana",
    "id":"64120015",
    "test":"1234"
}

dic["name"] = "tanupat aod"
del dic["test"]

for i in dic:
  print(i," : ",dic[i])

name  :  tanupat aod
id  :  64120015

# 16 Read  positive negative zero integers from input and quit by 9999 then print positive number negetive number and zero number

In [29]:
b=[]
while True :
  a = int(input("insert number :"))
  if a == 9999 :
    break
  else:
    b.append(a)
  
print(b)
for i in b:
  if i < 0:
    print(i , "is negative number")
  elif i == 0:
    print(i , "is zero number")
  else :
    print(i , "is positive number")

insert number :-1
insert number :0
insert number :5
insert number :9999
[-1, 0, 5]
-1 is negative number
0 is zero number
5 is positive number

# 17 Build Random Number from 00 to 99 by random ( 24 times ) to list with no repeat value in list

In [32]:
from random import random , randint

In [45]:
a=[]
res = []
while True:
  value = randint(0, 99)
  if value in a:
    value = randint(0, 99)
  else:
    a.append(int(value))
  for x in a:
      if x not in res:
          res.append(x)
  if len(a) >= 24:
    break
print(a)

[11, 70, 26, 39, 46, 55, 12, 86, 7, 17, 41, 5, 22, 44, 30, 18, 34, 96, 45, 97, 59, 98, 65, 19]

# 18 โปรแกรมคำนวนที่จอดรถ โดยให้รับค่า input 10 ครั้ง โดยค่าแรกเป็น ชั่วโมง ค่าที่สองเป็นนาที เสร็จแล้วให้คำนวนว่า จอดรถ 1 ชม.แรกฟรี ชั่วโมงที่สอง เสีย 30 บาท ชั่วโมงที่สาม 50 บาท สี่ชั่วโมงขึ้นไป 100 บาท โดยเศษของชั่วโมงให้ปัดขึ้นเป็น ชั่วโมง

In [47]:
a = int(input("ชั่วโมง :"))
b = int(input("นาที :"))
b = b/60
a = a+b 
a1 = math.floor(a)
if a1 <= 1:
  print("จอดฟรี")
elif a1 >=2 and a1 < 3:
  print("จ่าย 50 บาท")
else:
  print("จ่าย 100 บาท")

ชั่วโมง :2
นาที :40
จ่าย 50 บาท

# 19 เล่น ทอยลูกเต๋า 3 ลูก ให้พิมพ์ค่าลูกเต๋าแต่ละลูก และบอกด้วยว่า Hi หรือ Low

In [52]:
a = 0
for i in range(1,4):
  value = randint(1,6)
  print("ลูกที่ " , i , "ออก " , value)
  if value <= 3:
    print("ลุกที่" ,i,"ต่ำ")
  else:
    print("ลุกที่" ,i,"สูง")
  a = a + value
if a <=9:
  print("ผลรวม LOW")
else:
  print("ผลรวม HIGH")

ลูกที่  1 ออก  4
ลุกที่ 1 สูง
ลูกที่  2 ออก  1
ลุกที่ 2 ต่ำ
ลูกที่  3 ออก  5
ลุกที่ 3 สูง
ผลรวม HIGH

# 20 Power diagnostic

![powerplug.jpg](attachment:powerplug.jpg)

In [ ]:
print("0 is True , 1 is False")
has_power = int(input("has_power: 0 or 1"))
is_plugged_in = int(input("is_plugged_in: 0 or 1"))
is_switch_on = int(input("is_switch_on: 0 or 1"))
is_fuse_ok = int(input("is_fuse_ok: 0 or 1"))

if has_power == 0 :
  print("seek other help")
else:
  if is_plugged_in != 0:
    print("plug it in")
  else:
    if is_switch_on != 0 :
      print("turn switch on")
    else:
      if is_fuse_ok != 0:
        print("check fuse")
      else:
        print("seek other help")

# 21 จงเขียนโปรแกรมแบบ OOP โดยมีการกำหนดคลาส (class) 2 คลาส คือสุนัข กับแมว  จากนั้นทำการสร้างออปเจ็กต์มาอย่างละ 1 ตัว โดยไม่ต้องกำหนดค่าใดๆ  ในแต่ละคลาส มีรูปแบบดังนี้		
Properties (ต้องกำหนดประเภทของตัวแปรให้เหมาะสม)
		– สายพันธ์ 
		– อายุ
 		– น้ำหนัก 
		– เพศ
Method (ทำการประกาศ โดยไม่ต้องกำหนดการทำงาน)
		– เดินไปข้างหน้า 
		– เดินไปข้างหลัง 
		– กินอาหาร

In [63]:
class dog:
  def __init__(self,species,age,weight,sex) :
    self.species = species
    self.age = age
    self.weight = weight
    self.sex = sex
  def walk_front(self) :
    print("หมาตัวนี้ได้เดินไปข้างหน้า")
  def walk_back(self):
    print("หมาตัวนี้ได้ถอยหลัง")
  def eat(self):
    print("หมาตัวนี้ได้กินอาหาร")



class cat:
  def __init__(self,species,age,weight,sex) :
    self.species = species
    self.age = age
    self.weight = weight
    self.sex = sex
  def walk_front(self) :
    print("แมวตัวนี้ได้เดินไปข้างหน้า")
  def walk_back(self):
    print("แมวตัวนี้ได้ถอยหลัง")
  def eat(self):
    print("แมวตัวนี้ได้กินอาหาร")

dog1 = dog("ชิสุ",3,21,"male")
cat1 = cat("แมวส้ม",2,12,"female")
print(dog1.species)
print(cat1.species)
dog1.eat()
cat1.walk_back()

  # def front

  # def back

  # def eat

ชิสุ
แมวส้ม
หมาตัวนี้ได้กินอาหาร
แมวตัวนี้ได้ถอยหลัง