<a href="https://colab.research.google.com/github/tanupat085/3-minutes-python/blob/master/Exercise_2_64120015.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 7 หาค่าเฉลี่ยจาก list นี้ n = [3,5,7,9,11,14]

In [2]:
n = [3,5,7,9,11,14]
sum = 0
for i in n:
  sum = sum + i

avg = sum / len(n)

print(avg)

8.166666666666666

# 8 รับค่ามาค่าแรกคือจำนวนที่จะใส่ ต่อมา คือตัวเลขที่ใส่มา และให้เก็บมาอยู่ในตัวแปรแบบ list ต่อมาให้คำนวน ผลรวม และ ค่าเฉลี่ยของตัวเลขที่ใส่มาทั้งหมดจากตัวแปรใน list

In [7]:
a = int(input(" quantity :"))
b = []
for i in range(0,a):
  bb = int(input("number : "))
  b.append(bb)
print(b)
sum = 0
for i in b:
  sum = sum + i

avg = sum / len(n)
print("sum : " ,sum)
print("avg : " ,avg)

 quantity :4
number : 1
number : 2
number : 3
number : 4
[1, 2, 3, 4]
sum :  10
avg :  1.6666666666666667

# 9 Arithmatic ให้รับค่าตัวเลขมาสองตัว แล้ว มาทำการ บวก ลบ คูณ หาร หารเอาเศษ และหารเอาส่วน

In [8]:
a = int(input("1st number :"))
b = int(input("2nd number :"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

1st number :4
2nd number :5
9
-1
20
0.8
4

# 10 ให้รับค่าตัวเลขมา แล้วบอกว่าตัวเลขนั้นเป็น เลขคู่ หรือ เลขคี่

In [12]:
a = int(input("number :"))
if a%2 == 0:
  print("a is even number")
else:
  print("a is odd number")

number :3
a is odd number

# 11. list แล้ว append  ค่าตั้งแต่ 0 ถึง 500  หลังจากนั้นให้ตรวจสอบว่า ถ้าค่าสมาชิกตัวใดมีค่าที่หารด้วย 3 หรือ 7 ลงตัว ให้เปลี่ยนค่านั้นเป็น 21

In [18]:
a= []
b= []
for i in range(0,501):
  a.append(i)
for x in a:
  if x % 3 == 0 or x % 7 == 0 :
    x = 21
  b.append(x)
print(b)

[27, 1, 2, 27, 4, 5, 27, 27, 8, 27, 10, 11, 27, 13, 27, 27, 16, 17, 27, 19, 20, 27, 22, 23, 27, 25, 26, 27, 27, 29, 27, 31, 32, 27, 34, 27, 27, 37, 38, 27, 40, 41, 27, 43, 44, 27, 46, 47, 27, 27, 50, 27, 52, 53, 27, 55, 27, 27, 58, 59, 27, 61, 62, 27, 64, 65, 27, 67, 68, 27, 27, 71, 27, 73, 74, 27, 76, 27, 27, 79, 80, 27, 82, 83, 27, 85, 86, 27, 88, 89, 27, 27, 92, 27, 94, 95, 27, 97, 27, 27, 100, 101, 27, 103, 104, 27, 106, 107, 27, 109, 110, 27, 27, 113, 27, 115, 116, 27, 118, 27, 27, 121, 122, 27, 124, 125, 27, 127, 128, 27, 130, 131, 27, 27, 134, 27, 136, 137, 27, 139, 27, 27, 142, 143, 27, 145, 146, 27, 148, 149, 27, 151, 152, 27, 27, 155, 27, 157, 158, 27, 160, 27, 27, 163, 164, 27, 166, 167, 27, 169, 170, 27, 172, 173, 27, 27, 176, 27, 178, 179, 27, 181, 27, 27, 184, 185, 27, 187, 188, 27, 190, 191, 27, 193, 194, 27, 27, 197, 27, 199, 200, 27, 202, 27, 27, 205, 206, 27, 208, 209, 27, 211, 212, 27, 214, 215, 27, 27, 218, 27, 220, 221, 27, 223, 27, 27, 226, 227, 27, 229, 230, 27, 232, 233, 27, 235, 236, 27, 27, 239, 27, 241, 242, 27, 244, 27, 27, 247, 248, 27, 250, 251, 27, 253, 254, 27, 256, 257, 27, 27, 260, 27, 262, 263, 27, 265, 27, 27, 268, 269, 27, 271, 272, 27, 274, 275, 27, 277, 278, 27, 27, 281, 27, 283, 284, 27, 286, 27, 27, 289, 290, 27, 292, 293, 27, 295, 296, 27, 298, 299, 27, 27, 302, 27, 304, 305, 27, 307, 27, 27, 310, 311, 27, 313, 314, 27, 316, 317, 27, 319, 320, 27, 27, 323, 27, 325, 326, 27, 328, 27, 27, 331, 332, 27, 334, 335, 27, 337, 338, 27, 340, 341, 27, 27, 344, 27, 346, 347, 27, 349, 27, 27, 352, 353, 27, 355, 356, 27, 358, 359, 27, 361, 362, 27, 27, 365, 27, 367, 368, 27, 370, 27, 27, 373, 374, 27, 376, 377, 27, 379, 380, 27, 382, 383, 27, 27, 386, 27, 388, 389, 27, 391, 27, 27, 394, 395, 27, 397, 398, 27, 400, 401, 27, 403, 404, 27, 27, 407, 27, 409, 410, 27, 412, 27, 27, 415, 416, 27, 418, 419, 27, 421, 422, 27, 424, 425, 27, 27, 428, 27, 430, 431, 27, 433, 27, 27, 436, 437, 27, 439, 440, 27, 442, 443, 27, 445, 446, 27, 27, 449, 27, 451, 452, 27, 454, 27, 27, 457, 458, 27, 460, 461, 27, 463, 464, 27, 466, 467, 27, 27, 470, 27, 472, 473, 27, 475, 27, 27, 478, 479, 27, 481, 482, 27, 484, 485, 27, 487, 488, 27, 27, 491, 27, 493, 494, 27, 496, 27, 27, 499, 500]

# 12 สร้าง empty list แล้ว append  ค่าตั้งแต่ 0 ถึง 500  หลังจากนั้นให้ตรวจสอบว่า ถ้าค่าสมาชิกตัวใดมีค่าที่หารด้วย 3 หรือ 7 ลงตัว ให้เปลี่ยนค่านั้นเป็น 21

In [19]:
a= []
b= []
for i in range(0,501):
  a.append(i)
for x in a:
  if x % 3 == 0 or x % 7 == 0 :
    x = 21
  b.append(x)
print(b)

[21, 1, 2, 21, 4, 5, 21, 21, 8, 21, 10, 11, 21, 13, 21, 21, 16, 17, 21, 19, 20, 21, 22, 23, 21, 25, 26, 21, 21, 29, 21, 31, 32, 21, 34, 21, 21, 37, 38, 21, 40, 41, 21, 43, 44, 21, 46, 47, 21, 21, 50, 21, 52, 53, 21, 55, 21, 21, 58, 59, 21, 61, 62, 21, 64, 65, 21, 67, 68, 21, 21, 71, 21, 73, 74, 21, 76, 21, 21, 79, 80, 21, 82, 83, 21, 85, 86, 21, 88, 89, 21, 21, 92, 21, 94, 95, 21, 97, 21, 21, 100, 101, 21, 103, 104, 21, 106, 107, 21, 109, 110, 21, 21, 113, 21, 115, 116, 21, 118, 21, 21, 121, 122, 21, 124, 125, 21, 127, 128, 21, 130, 131, 21, 21, 134, 21, 136, 137, 21, 139, 21, 21, 142, 143, 21, 145, 146, 21, 148, 149, 21, 151, 152, 21, 21, 155, 21, 157, 158, 21, 160, 21, 21, 163, 164, 21, 166, 167, 21, 169, 170, 21, 172, 173, 21, 21, 176, 21, 178, 179, 21, 181, 21, 21, 184, 185, 21, 187, 188, 21, 190, 191, 21, 193, 194, 21, 21, 197, 21, 199, 200, 21, 202, 21, 21, 205, 206, 21, 208, 209, 21, 211, 212, 21, 214, 215, 21, 21, 218, 21, 220, 221, 21, 223, 21, 21, 226, 227, 21, 229, 230, 21, 232, 233, 21, 235, 236, 21, 21, 239, 21, 241, 242, 21, 244, 21, 21, 247, 248, 21, 250, 251, 21, 253, 254, 21, 256, 257, 21, 21, 260, 21, 262, 263, 21, 265, 21, 21, 268, 269, 21, 271, 272, 21, 274, 275, 21, 277, 278, 21, 21, 281, 21, 283, 284, 21, 286, 21, 21, 289, 290, 21, 292, 293, 21, 295, 296, 21, 298, 299, 21, 21, 302, 21, 304, 305, 21, 307, 21, 21, 310, 311, 21, 313, 314, 21, 316, 317, 21, 319, 320, 21, 21, 323, 21, 325, 326, 21, 328, 21, 21, 331, 332, 21, 334, 335, 21, 337, 338, 21, 340, 341, 21, 21, 344, 21, 346, 347, 21, 349, 21, 21, 352, 353, 21, 355, 356, 21, 358, 359, 21, 361, 362, 21, 21, 365, 21, 367, 368, 21, 370, 21, 21, 373, 374, 21, 376, 377, 21, 379, 380, 21, 382, 383, 21, 21, 386, 21, 388, 389, 21, 391, 21, 21, 394, 395, 21, 397, 398, 21, 400, 401, 21, 403, 404, 21, 21, 407, 21, 409, 410, 21, 412, 21, 21, 415, 416, 21, 418, 419, 21, 421, 422, 21, 424, 425, 21, 21, 428, 21, 430, 431, 21, 433, 21, 21, 436, 437, 21, 439, 440, 21, 442, 443, 21, 445, 446, 21, 21, 449, 21, 451, 452, 21, 454, 21, 21, 457, 458, 21, 460, 461, 21, 463, 464, 21, 466, 467, 21, 21, 470, 21, 472, 473, 21, 475, 21, 21, 478, 479, 21, 481, 482, 21, 484, 485, 21, 487, 488, 21, 21, 491, 21, 493, 494, 21, 496, 21, 21, 499, 500]

# 13 ให้รับค่าน้ำหนัก และส่วนสูง แล้ว คำนวนค่า BMI จากสูตร BMI = น้ำหนักตัว(กก) หารด้วย ส่วนสูง(เมตร) ยกกำลังสอง
           
           สำหรับค่านี้กำหนดโดยองค์การอนามัยโลก (WHO)
 
           ค่าที่ได้น้อยกว่า 18.5 >>>> คุณผอมเกินไป

           ค่าที่ได้อยู่ระหว่าง 18.5-24.9 >>> คุณอยู่เกณฑ์เหมาะสม น้ำหนักตัวปกติ

           ค่าที่ได้อยู่ระหว่าง 25-29.9 >>> คุณน้ำหนักเกิน แต่ยังไม่เรียกว่าอ้วน

           ค่าที่ได้อยู่ระหว่าง 30-39.9 >>> คุณอ้วนแล้ว !

           ค่าที่ได้มากกว่าหรือเท่ากับ 40 >>> คุณอ้วนเกินไป อันตรายมาก !!!

In [26]:
a = int(input("น้ำหนัก :"))
b = int(input("ส่วนสูง cm :"))
bmi = a/((b/100)**2)
print(bmi)

น้ำหนัก :70
ส่วนสูง cm :170
24.221453287197235

# 14 รับค่าเวลาเป็นวินาที แล้วมาคำนวน เป็น วัน ชั่วโมง นาที และ วินาที

In [41]:
a = int(input("sec"))


print("วัน ",a/86400)
print("ชั่วโมง ",(a%86400)/ 3600)
secc = ( a % 86400 ) % 3600
seccc = secc / 60
print("นาที  ",seccc)
print("วินาที ", secc % 60)

sec12000000
วัน  138.88888888888889
ชั่วโมง  21.333333333333332
นาที   20.0
วินาที  0

# 15 Sort ค่า 3 ค่า ตามตัวเลขจำนวนเต็มที่รับมา จาก น้อยไปหามาก

In [45]:
a = 3
b = []
for i in range(0,a):
  bb = int(input("num"))
  b.append(bb)
b.sort()
b

num6
num2
num8

[2, 6, 8]

  # 16 input number by use while loop ( if input = 9999 it will quit ) and then calculate sum and average of numbers

In [57]:
b= []
while True :
  a = int(input())
  b.append(a)
  if a == 9999 :
    break
sum = 0
for i in b :
  sum = sum + i
print("sum",sum)
print("avg",avg/len(b))

4
3
5
9999
sum 10011
avg 0.4166666666666667

# 17 Admission Price : Enter Age of visitors in group ( if age =9999 will quit ) and calculate total admission fee for all visitors in group
<br>store admission price<br>
BABY_PRICE = 0.00<br>
CHILD_PRICE = 50.00<br>
ADULT_PRICE = 90.00<br>
SENIOR_PRICE = 20.00<br><br>
store the age limits <br>
BABY_LIMIT = 3<br>
CHILD_LIMIT = 12<br>
ADULT_LIMIT = 60<br>

In [56]:
b=[]
while True :
  a = int(input())
  b.append(a)
  if a == 9999 :
    break
s = 0
c = 0
for i in b :
  if i <= 3:
    s = s + 0
  elif i >3 and i <=12 :
    s = s + 50
  elif i >12 and i <=60 :
    s = s + 90
  else:
    s = s + 20
print("total : " ,s)

67
43
23
21
11
9999
total :  360

# 18 build function that find with max for between 2 values by print in function

In [58]:
def main(a,b):
  if a>b:
    print(a)
  else:
    print(b)
main(2,3)

3

# 19 build function that find with max for between 2 values by return value

In [60]:
def main(a,b):
  if a>b:
    return a
  else:
    return b

main(6,3)

6

# 20 ให้รับค่าจำนวนเต็มจาก input มาสิบค่า แล้วให้พิมพ์ ค่าตัวไหนน้อยที่สุด และค่าตัวไหนมากที่สุด

In [62]:
a = []
for i in range(0,10):
  b = int(input("number "))
  a.append(b)
a.sort()
print("min ",a[0])
print("max ",a[-1])

number 4
number 7
number 8
number 1
number 2
number 4
number 5
number 6
number 8
number 9
min  1
max  9

# 21 Build factorial function (n! = n(n-1)(n-2)...1  for example 3! = 3 x 2 x 1 = 6)

In [66]:
def fac(n):
   if n == 1:
       return n
   else:
       return n*fac(n-1)
fac(4)

24

# 22 Build Triangle area function ( formula : trianglearea = (1/2)\*base\*hight )

In [67]:
def tri(base,hight):
  area = (1/2) * base * hight
  return area
tri(4,5)

10.0

# 23 Build Circle area and Circle circumference by input r from input 
formular<br>
circle area = Pi\*r\*\*2<br>  
circle circumference = 2\*Pi\*r<br>

In [69]:
a = int(input("r :"))
def cir(r):
  cir_area = (22/7) * (r**2)
  cir_fer = 2 * (22/7) * r
  print("area ",cir_area)
  print("cir_fer ",cir_fer)
cir(a)

r :10
area  314.2857142857143
cir_fer  62.857142857142854

# 24 Print odd number from 1 to 100

In [73]:
a=[i for i in range(1,101)]
for i in a:
  if i % 2 != 0:
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# 25 Print even numbers from 1 to 100 in list format

In [76]:
a=[i for i in range(1,101)]
b=[]
for i in a:
  if i % 2 == 0:
    b.append(i)
    
print(b)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]